.results-list {
  margin-top: 20px;
}

.results-list div {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
}

.results-zero {
  background-color: #f5f5f5;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  color: #888;
}
