* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #dcdcdc;
}

@media screen and (max-width: 480px) {
}

@media screen and (mix-width: 481px) and (max-width: 768px) {
}

@media screen and (mix-width: 769px) and (max-width: 1199px) {
}

@media screen and (mix-width: 1200px) {
}
